* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #944424;
}

.base{
    background-color: #FFFFFF;
    margin-top: 35px;
    margin-left: 440px;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.superior{
    background-color: #000000;
    color: #FFFFFF;
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
}

h3{
    padding-left: 45px;
    padding-top: 25px;
}

p{
    padding-left: 45px;
    font-size: 17px;
}

#BillAmountBox{
    font-size: 17px;
    padding: 5px;;
}

select{
    margin-top: 25px;
    margin-left: 57px;
    padding: 5px 50px 5px 10px;
    font-size: 20px;
}

#PeopleBox{
    margin-top: 35px;
    padding: 5px;
    margin-left: 10px;
    font-size: 17px;

}

#press{
    margin-left: 175px;
    padding: 15px 25px;
    background-color: #DE1111;
    border-radius: 10px ;
    font-size: 25px;
    color: #FFFFFF;
}

#ShowTip{
    width: 150px;
    margin-left: 170px;
    margin-top: 25px;
    font-size: 38px;
    text-align: center;
    background-color: #28D2D5;
}